.header {
    border:1px solid #000000;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 20px;
}
.navigation {
    display: flex;
    list-style: none;
    gap: 32px;
}
.navigation a:hover {
    color:#000000;
    text-decoration: underline;
}